body {
  margin: 10px;
  background: #11dbd5;
  text-align: left;
  font-family: "helvetica neue";
  font-size: 14pt;
}

h1 {
  font-size: 30pt;
  color: black;
  font-weight: bold;

}

h3{
font-size: 20pt;
  font-weight: bold;

}

p {
  text-align: left;
  color: black;
  left: 20px;

}

a {
  text-decoration: none;
  color: aqua;
  outline: 0;

}

/*----IMAGE stuff----*/

.imgFrontpage img {
  width: 80%;
  height: auto;
  opacity: 1;

}

img {
  max-width: 400px;
}


/* GRID*/


/*----grid stuff----*/

.grid-container {
  display: grid;
  padding: 5px;
}

.grid-item {
  border: 1px solid aqua);
  padding: 10px;
  font-size: 30px;
  text-align: left;
}



